

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*----------------
---Main Content---
----------------*/

.site-content{
  margin: 130px auto;
  width: 940px;
  height: 380px;
  font-family: Circular,Helvetica,Arial,sans-serif;

}

/*---title---*/

  .title{
    font-size: 46px;
    font-weight: 100;
    color: #484848;
    margin-bottom: 60px;
  }
  .title span{
    font-weight: 800;
    color:rgb(0, 150, 107);
  }

/*---search-row---*/

  .search-input{
    padding: 10px;
    float: left;
    width: 767px;
    height: 52px;
    border: 1px solid #757575;
    border-right-color: transparent;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 16px;
  }


  .search-btn{
    float: left;
    width: 150px;
    height: 52px;
    border: 1px solid rgb(0, 170, 107);
    margin: 0px 0 0px 0;
    background-color: rgb(0, 170, 107);
;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .search-btn:hover{
    background-color: rgb(0, 150, 107);
;
    cursor: pointer;
  }

/*---gallery-prices---*/

.prices{
  width: 953px;
  height: 330px;
  margin-top: 170px;
}
  .prices h3{
    font-weight: 100;
    font-size: 25px;
    color: #484848;
    margin-left: 5px;
  }
  .img{
    display: inline-block;
    margin: 1px;
  }

  .img img{
    width: 301px;
    height: 206px;
  }
  .price-stamp{
    margin: -200px 0 0 12px;
    color: #fff;
    font-weight: 900;
    font-size: 22px;
    text-shadow: 0 0 6px #615e61;
  }
  .description{
    margin: 180px 0 0 0;
    font-size: 10px;
    color: #484848;
  }

/*---line---*/

hr{
    border: 0;
    height: 1px;
    background: #DCE0E0;
    margin-bottom: 55px;
}


/*----------------
---Footer---
----------------*/

footer{
  font-family: Circular,Helvetica,Arial,sans-serif;
  margin-top: 300px;
  width: 100%;
  height: 350px;
  background-image: url("");
  background-color: #2b2d2e;

}
.footer-content{
  width: 940px;
  margin: 0 auto;
  padding-top: 50px;
}
.footer-content hr{
  background: #555758;
  margin-top: 20px;
}
.footer-row{
  width: 100%;
  height: 205px;
  padding-left: 100px;
  margin-bottom: 50px;
}
/*---selectors---*/

.selectors{
  float: left;
  width: 250px;
  height: 95px;
  margin-right: 80px;
}
  .selectors select{
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 10px;
    background-color: #3a3c3d;
    border: none;
    border-radius: 3px;
    color: #fff;
  }

  .language-selector{
    margin-bottom: 25px;
  }



/*---lists---*/
.lists{
  float: left;
}

.lists ul{
  color: #fff;
  list-style: none;
  float: left;
  width: 160px;
  height: 175px;
}
.lists ul h3{
  margin-bottom: 22px;
  font-size: 16px;
}
.lists ul li{
  margin-bottom: 5px;
  font-size: 14px;
}

