.form-create  {
  height:100vh;
  background-image: url("https://c.stocksy.com/a/JBA500/z9/1230781.jpg");
// background-repeat: no-repeat;
// background-size: contain;
// background-repeat: no-repeat;
  background-size:cover;
}
