<div class="container">
      <br>
      <br>

    <h1> Congratulations, your reservation is confirmed !</h1>

      <br>
      <img src="https://pbs.twimg.com/profile_images/945596035954610176/aOiSZMF5_400x400.jpg" alt="photo de Timon" style="width: 400px">
      <br>
      <br>
      <br>
      <br>
      <h3><%= "Begins on #{@booking.start_date}"%></h3>
      <br>
      <br>
      <h3><%= "Ends on #{@booking.end_date}"%></h3>
      <br>
      <br>
      <br>
    <h2><%= "#{@booking.animal.name} is already waiting for you " %></h2>
    <% @booking.animal.photos.each do |photo|  %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
</div>
