<div class="container">

    <h1> Congratulations, your reservation is confirmed !</h1>

      <p>Begins on:</p>
      <br>
      <br>
      <p>Ends on:</p>




    <h2>animal is already waiting for you</h2>

</div>

