<div class="banner">
  <div class="search-bar">
    <form action="" class="form-inline">
      <input type="text" class="form-control" placeholder="Où ?">
      <input type="text" name="checkin" class="form-control" placeholder="Ajoutez des dates">
      <input type="text" name="checkout" class="form-control" placeholder="Ajoutez des dates">
      <select name="" id="" class="form-control border-radius input-lg">
        <option value="1">Chicken</option>
        <option value="2">Cow</option>
        <option value="3">Mouse</option>
        <option value="4">Mouse</option>
        <option value="5">Mouse</option>
      </select>
      <input type="submit" class="btn btn-dark" value="Search">
    </form>
  </div>
</div>

<div class="container">
</div>

