<main class="site-content">

  <h2 class="title"><span>Go green.</span> Book unique animals <br>and experience it like a farmer.</h2>

  <section class"search-row">

    <input class="search-input" type="text" placeholder="Where to?"></input>

    <%= link_to animals_path do %>
    <button class="search-btn"> Search </button>
    <%end %>

  </section>

  <section class="gallery">

    <div class="prices">

      <h3>Explore Mow picks</h3>

      <div class="img"><img src="https://parismatch.be/app/uploads/2018/02/hautehaute-1100x715.jpg">
        <div class="price-stamp">20$</div>
        <div class="description">
          <h4>Ines</h4>
        </div>
      </div>

      <div class="img"><img src="https://thumbs-prod.si-cdn.com/SkuS5xz-Q-kr_-ol6xblY9fsoeA=/fit-in/1600x0/https://public-media.si-cdn.com/filer/d4/f6/d4f6e4bf-8f77-445d-a8f9-e3a74c6a40f0/ewkhdqqwsae0xpo.jpeg">
        <div class="price-stamp">17$</div>
        <div class="description">
          <h4>Mouti</h4>
        </div>
      </div>

      <div class="img"><img src="https://besthqwallpapers.com/Uploads/12-8-2018/61378/thumb2-ginger-persian-cat-big-fat-cat-fluffy-ginger-cat-cute-animals.jpg">
        <div class="price-stamp">10$</div>
        <div class="description">
          <h4>Stella</h4>
        </div>
      </div>
    </div>
  </section>

</main>

<footer>



  <div class="footer-content">
    <div class="footer-row">
      <section class="selectors">
        <select class="language-selector">
          <option>English</option>
          <option>Español</option>
          <option>Deutsch</option>
          <option>한국어</option>
        </select>

        <select class="currency-selector">
          <option>USD</option>
          <option>CHF</option>
          <option>EUR</option>
          <option>CAD</option>
        </select>
      </section>

      <section class="lists">
        <ul>
          <h3>Company</h3>

          <li>About</li>
          <li>Careers</li>
          <li>Press</li>
          <li>Blog</li>
          <li>Help</li>
          <li>Policies</li>
          <li>Disaster Response</li>
          <li>Terms & Privacy</li>
        </ul>

        <ul>
          <h3>Discover</h3>

          <li>Trust & Safety</li>
          <li>Booking Credit</li>
          <li>Gift Cards</li>
          <li>Mow Picks</li>
          <li>Mobile</li>
          <li>Mow Action</li>
          <li>Business Travel</li>
          <li>Site Map</li>
        </ul>

        <ul>
          <h3>Renting</h3>

          <li>Why Rent</li>
          <li>Hospitality</li>
          <li>Responsible Renting</li>
          <li>Garden Safety</li>
          <li>Instant Book</li>
        </ul>
      </section>
    </div>
    <hr>
  </div>
</footer>
