<main class="site-content">

  <h2 class="title"><span>Go green.</span> Book unique animals <br>and experience it like a farmer.</h2>

  <section class="search-row">

    <script src="https://cdn.jsdelivr.net/npm/places.js@1.19.0"></script>

    <%= form_tag animals_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control form-search",

    placeholder: "Where at ? Which specie ?"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
<%end%>





<section class="gallery">

    <div class="prices">

      <h3>Explore Mow picks</h3>

      <div class="img"><img src="https://images.unsplash.com/photo-1564349683136-77e08dba1ef7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80">
        <div class="price-stamp">20 €</div>
        <div class="description">
          <h4>Mariane</h4>
        </div>
      </div>

      <div class="img"><img src="https://images7.alphacoders.com/405/405322.jpg">
        <div class="price-stamp">32 €</div>
        <div class="description">
          <h4>Nathalie</h4>
        </div>
      </div>

      <div class="img"><img src="https://cdn1-www.cattime.com/assets/uploads/2015/05/cat-obesity-1.jpg">
        <div class="price-stamp">9 €</div>
        <div class="description">
          <h4>Edouard</h4>
        </div>
      </div>
    </div>
    <hr>
  </section>

</main>

<footer>



  <div class="footer-content">
    <div class="footer-row">
      <section class="selectors">
        <select class="language-selector">
          <option>English</option>
          <option>Español</option>
          <option>Deutsch</option>
          <option>한국어</option>
        </select>

        <select class="currency-selector">
          <option>USD</option>
          <option>CHF</option>
          <option>EUR</option>
          <option>CAD</option>
        </select>
      </section>

      <section class="lists">
        <ul>
          <h3>Company</h3>

          <li>About</li>
          <li>Careers</li>
          <li>Press</li>
          <li>Blog</li>
          <li>Help</li>
          <li>Policies</li>
          <li>Disaster Response</li>
          <li>Terms & Privacy</li>
        </ul>

        <ul>
          <h3>Discover</h3>

          <li>Trust & Safety</li>
          <li>Booking Credit</li>
          <li>Gift Cards</li>
          <li>Mow Picks</li>
          <li>Mobile</li>
          <li>Mow Action</li>
          <li>Business Travel</li>
          <li>Site Map</li>
        </ul>

        <ul>
          <h3>Renting</h3>

          <li>Why Rent</li>
          <li>Hospitality</li>
          <li>Responsible Renting</li>
          <li>Garden Safety</li>
          <li>Instant Book</li>
        </ul>
      </section>
    </div>
    <hr>
  </div>
</footer>
