<div class="form-create">
  <div class="container">
    <div class="form">
        <h1>Earn money as an Mow host</h1>
        <p>Tell us a little about your place</p>
        <div class="form-inputs">
          <%= render 'form', animal: @animal %>
        </div>
    </div>
  </div>
</div>


