<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Mow</title>
    <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">

    <link rel="stylesheet" href="node_modules/select2/dist/css/select2.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/rcswitcher.min.css">
2
  <script src="js/jquery-2.1.3.min.js"></script>
3
  <script src="js/rcswitcher.min.js"></script>
  </head>
  <body>

    <!-- TODO: Put your HTML code in here -->
    <div class="container">
      <div class="row">
        <div class="col-sm-8 offset-sm-2">
          <h1>Bienvenue sur la fiche de biquette</h1><br>
          <img src= "https://geo.img.pmdstatic.net/fit/https.3A.2F.2Fprd-cam-website-statics.2Es3.2Eeu-west-1.2Eamazonaws.2Ecom.2Fcontent.2Fuploads.2F2017.2F11.2Fchevre.2Ejpg/750x422/quality/80/background-color/ffffff/background-alpha/100/focus-point/375%2C211/crop-zone/0%2C0-750x422/chevre.jpg" alt = "photo de biquette"><br><br>
          <h2>Quelques informations sur elle:</h2>
          <ul>
            <li>Elle a 6 ans</li>
            <li>Il s'agit d'une espèce très rare de ...</li>
            <li>C'est une coquine et elle est très joueuse</li>
            <li>c'est la plus douée pour désherber de grands terrains</li>
           </ul>
          <%= link_to "Back to all animals", root_path %>

    <script src="main.js"></script>
  </body>
</html>
