#results-for {
  margin:25px;
  margin-bottom:-10px;
}

#number-of-note {
  font-family : Circular,Helvetica,Arial,sans-serif;
  font-weight:bolder;
}
.card-product {
  overflow: hidden;
  height: 225px;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: start;
  margin:10px;
  background-color: transparent;
  border-top: solid;
  border-color: white;
  border-width: thin;
  text-decoration: none;
  flex-grow:1;
}
.cards-container{
  flex-grow:1;
}
.img-card {

  height: 200px;
  object-fit: cover;
  margin: 12px;
  border-radius: 3%;
  width: 300px;
}

.card-product h2 {
  font-size: 22px;
  font-weight: 300;
  font-family: Circular,Helvetica,Arial,sans-serif;

}

.card-product p {
  font-size: 18px;
  font-weight:400;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  padding-bottom: 0;
  color:#484848;
}

.card-product .card-product-infos {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex-grow:1;
}

.card-product a {
  text-decoration:none;
  color:black;
}
.card-product i{
  margin-top:0px;
}

.card-product span {
  font-weight:5;
}
.footer-cards {
  display: flex;
  justify-content: space-between;
  font-family: Helvetica,Arial,sans-serif;
}

.empty{
  padding-top:140px;
  text-align: -webkit-center;
}

.empty h3{
  padding-bottom:20px;
}

.search-all-fail {
  width: fit-content;
  height:50px;
}

.search-button-fail {
  padding-top:20px;
}
.form-search-fail {
  height:50px;
}
