.form-show {
    background-color: #ffffff !important;
    float: right !important;
    max-width: 460px !important;
    border-radius: 4px !important;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.12) !important;
    padding: 40px;
}

.form-show h1 {
  color: #333333;
  font-size: 25px !important;
  line-height: 41px !important;
  letter-spacing: -0.6px !important;
  font-weight: bolder;
}
.form-show p {
  font-size: 20px !important;
}
