.form {
    background-color: #ffffff !important;
    float: right !important;
    max-width: 460px !important;
    border-radius: 4px !important;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.12) !important;
    margin: 78px 92px 0 0 !important;
    padding: 30px;
}

.form h1 {
  color: #333333;
  font-size: 38px !important;
  line-height: 41px !important;
  letter-spacing: -0.6px !important;
  font-weight: bolder;
}
.form p {
  font-size: 20px !important;
}
.form-inputs {
}

